html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #1b98f8;
}

.layout {
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;
}

.primary-button {
    color: #fff;
    background: #1b98f8;
    margin: 1em 0;
}

.primary-button, .secondary-button {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 20px;
}

.secondary-button {
    background: #fff;
    border: 1px solid #ddd;
    color: #666;
    padding: 0.5em 2em;
    font-size: 80%;
}